{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    </br></br>
    <form action="/upload" method="post" enctype="multipart/form-data" >
    <label class="btn btn-primary"> Browse <input type="file" style="display: none;" name="upload" accept="image/*" onchange="loadFile(event)">
    </label>

    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="photo_caption" placeholder="Schrijf een onderschrift" maxlength="50" type="text"/>
    </div>
    </br></br>
    <p> Selecteer de locatie waar deze foto genomen is</p>
    <div id="uploadMap" style="height: 400px"></div>
    <br>
    <button type="submit" class="btn btn-primary">Upload image</button>
    </br></br>
    <img style="height: 400px; width: auto;" id="output"/>
    <br>
    <input type="hidden" id=plaats_id name=plaats></input>
    </form>

    <script>
        // show preview of upload file
        var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        };

        // display google map with location
        var map;
        var plaats;
        function myMap() {
            // init map
            map = new google.maps.Map(document.getElementById("uploadMap"), {
                center: {lat: 52.37783, lng: 4.87995},
                zoom: 10
            });

            // find location of click on map
            google.maps.event.addListener(map, 'click', function(event) {
                var lat = event.latLng.lat();
                var long = event.latLng.lng();

                var geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(lat,long);

                geocoder.geocode({'latLng': latlng}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    // return locatie
                    for (var i = 0; i < results[0].address_components.length; i++)
                    {
                        var addr = results[0].address_components[i];
                        if (addr.types[0] == 'locality')
                        {
                            document.getElementById('plaats_id').value = addr.long_name;
                            plaats=addr.long_name;
                        }
                    }
                } else {
                    alert("Geocoder failed due to: " + status);
                }});

                placeMarker(event.latLng);
            });
        };
        // replace marker on new location
        var marker;
        function placeMarker(location) {
                if (marker == null) {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                } else {
                    marker.setPosition(location);
                }
        };

</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDWCcUbrpBkshwNybWm1Ivis7E3hidbpk&callback=myMap"
async defer></script>
</script>


{% endblock %}


