{% extends "layout.html" %}

{% block title %}
    Profiel
{% endblock %}

{% block main %}
    <html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>
<form action="{{ url_for('vrienden') }}" method="post">
    <fieldset>
{% for photo in vrienden_photos %}
<div class="gallery">
    <img src="{{ url_for('uploaded', filename = photo['file_name'] )}}" alt="NotFound" width="300" height="200">
    <br>
    <p> Gemaakt door {{ photo["username"] }}</p>
    {{ photo["caption"] }}
    <br>
    {{ photo["likes"] }}
    <button class="btn btn-success" type="submit" name="like-{{photo['photo_id']}}" >
        <i class="fa fa-thumbs-up"></i>
    </button>
    <button class="btn btn-danger" type="submit" name="dislike-{{photo['photo_id']}}" >
        <i class="fa fa-thumbs-down"></i>
    </button>
    {{ photo["dislikes"] }}
    <br>
</div>
{% endfor %}
 </fieldset>
</form>
</body>
</html>
{% endblock %}